.trainers {
  background-color: var(--secondary-color);
  grid-column: col-end 6 / full-end;

  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding: 3rem;
  @media only screen and (max-width: 43.75em) {
    grid-column: 1/ -1;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;
    @media only screen and (max-width: 43.75em) {
      grid-template-columns: repeat(3, min-content max-content);
    }
    @media only screen and (max-width: 31.25em) {
      grid-template-columns: min-content max-content;
    }
  }
  &__photo {
    max-height: 6rem;
    border-radius: 50%;
    display: block;
  }
  &__trained {
    text-transform: uppercase;
    color: #fff;
    margin-top: -1px;
    font-size: 1.2rem;
  }
}
